.all_genre_buttons {
    display: grid;
    grid-template: 100px 100px 100px 100px 100px 100px 100px/ 300px 300px 300px;
    align-items: center;
    justify-content: center;
}

button {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
}